DAY 37 -- Apr 2, 2017

In [1]:
%load_ext rpy2.ipython

### A new data set

> [Pesticide Data Program (2015): Study of pesticide residues in food](https://www.kaggle.com/usdeptofag/pesticide-data-program-2015)

In [2]:
import pandas as pd
import sqlite3

# Read in SQLite databases
con = sqlite3.connect("data/database.sqlite")
results = pd.read_sql_query("SELECT * from resultsdata15", con)
samples = pd.read_sql_query("SELECT * from sampledata15", con)

con.close()

In [3]:
print(results.shape)
for i in samples.columns:
    print(i)
samples.head()

(2333911, 16)
sample_pk
state
year
month
day
site
commod
source_id
variety
origin
country
disttype
commtype
claim
quantity
growst
packst
distst

,sample_pk,state,year,month,day,site,commod,source_id,variety,origin,country,disttype,commtype,claim,quantity,growst,packst,distst
0,1,CA,15,01,20,0010,AP,,Fuji,1,,H,FR,NC,12,,,WA\r\n
1,2,CA,15,01,20,0038,AP,,Red Delicious,1,,T,FR,NC,12,,WA,WA\r\n
2,3,CA,15,01,20,0043,AP,,Red Delicious,1,,T,FR,NC,,,WA,WA\r\n
3,4,CA,15,01,20,0114,AP,,Granny Smith,1,,H,FR,NC,17,,WA,WA\r\n
4,5,CA,15,01,20,0149,AP,,Fuji,1,,D,FR,PO,10,,,CA\r\n

In [ ]:
print(samples.shape)
for i in results.columns:
    print(i)
    
results.head()

(10187, 18)
sample_pk
commod
commtype
lab
pestcode
testclass
concen
lod
conunit
confmethod
confmethod2
annotate
quantitate
mean
extract
determin

,sample_pk,commod,commtype,lab,pestcode,testclass,concen,lod,conunit,confmethod,confmethod2,annotate,quantitate,mean,extract,determin
0,2,AP,FR,WA1,382,E,,0.015,M,,,,,ND,805,35\r\n
1,2,AP,FR,WA1,387,A,,0.005,M,,,,,ND,805,35\r\n
2,2,AP,FR,WA1,388,A,,0.005,M,,,,,ND,805,35\r\n
3,2,AP,FR,WA1,512,E,,0.003,M,,,,,ND,805,52\r\n
4,2,AP,FR,WA1,529,A,,0.010,M,,,,,ND,805,35\r\n

In [ ]:
%%R -i results
dim(results)